/* Layout general */
.dashboard-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

.dashboard-layout::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    linear-gradient(
      to bottom,
      rgba(7, 20, 16, 0.94),
      rgba(7, 20, 16, 0.1)
    ),
    url('/assets/images/1-old.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(3px);
}

/* MAIN */
.dashboard-main {
  flex: 1;
  padding: 2.4rem 0 2.8rem;
}

@media (max-width: 900px) {
  .dashboard-main {
    flex: 1;
    padding: 0.4rem 0 2.8rem;
  }
}
