.track-card {
  display: flex;
  gap: 0.75rem;
  /*padding: 0.75rem;*/
  background-color: var(--color-surface);
  border-radius: 8px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  /*filter: drop-shadow(0 10px 25px rgba(0,0,0,0.45));*/
  height: 100%;
}

.track-card:hover {
  cursor: pointer;
  transform: translateY(-1px);
  border: 1px solid var(--color-primary);
}


.track-card__image-wrapper {
  width: 110px;
  height: 11.8rem;
  /*border-radius: 6px;*/
  overflow: hidden;
  background-color: #101a16;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-card__placeholder {
  font-size: 1.5rem;
  color: var(--color-accent);
}

.track-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  gap: 0.25rem;
}

.track-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-card__title {
  margin: 0;
  font-size: 1.6rem;
}

.track-card__difficulty {
  font-size: 0.75rem;
  padding: 0.2rem 0.4rem 0rem;
  border-radius: 999px;
  border: 1px solid var(--color-border);
}

.track-card__difficulty--easy {
  border-color: #66bb6a;
  color: #a5d6a7;
}

.track-card__difficulty--moderate {
  border-color: #ffb300;
  color: #ffe082;
}

.track-card__difficulty--hard {
  border-color: #ef5350;
  color: #ef9a9a;
}

.track-card__meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  font-size: 1.2rem;
  color: var(--text-muted-color);
}

.track-card__description {
  margin: 0.15rem 0 0;
  font-size: 0.85rem;
  color: var(--text-color);
}

.track-card__footer {
  margin-top: 0.25rem;
  font-size: 1rem;
  color: var(--text-muted-color);
  text-align: end;
}

.track-card__date {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {

  .track-card {
    flex-direction: column;
  }

  .track-card__image-wrapper {
    width: 100%;
    height: 140px;
  }
}